---
interface Props {
    nombre: string;
    linkPerfil: string;
    linkImg: string;
    redondo: string;
    tieneFondo: string;
}

const { nombre, linkPerfil, linkImg, redondo, tieneFondo } = Astro.props;
---

<div class="flex gap-4 items-center">
    <img
        src={linkImg}
        class={`w-12 h-12 p-1 ${redondo} ${tieneFondo}`}
        alt="no cargo"
    />
    <a
        class="text-blancoEstrella text-xl active:text-colorBordePerfil active:underline active:decoration-solid"
        href={linkPerfil}
        target="_blank"
    >
        {`${nombre}`}
    </a>
</div>
