---
import Apuntes from './react/Apuntes';
import "../style/App.css";

interface Props {
    imagen: string;
    titulo: string;
    cargo: string;
    fechaInicio: string;
    fechaFin: string;
    descripcion: string;
    link: string;
    targetTag?: string;

    apunte1: string | undefined;
    otroApunte: boolean;
    apunte2?: string | undefined;
}

const { imagen, link, titulo, targetTag = "_blank", cargo, descripcion, fechaInicio, fechaFin, apunte1, otroApunte, apunte2 } = Astro.props;
---

<a href={link} target={targetTag} class="flex flex-nowrap items-center w-4/6 bg-BlancoTransparente rounded-lg flex-col lg:flex-row" id="tarjetaTrabajo">
    <img src={imagen} alt="no cargo" class="h-40 w-40 aspect-square rounded-full m-2 object-cover lg:h-60 lg:w-60 lg:rounded-tl-lg lg:rounded-bl-lg lg:rounded-tr-none lg:rounded-br-none lg:m-1 lg:object-cover"/>
    <div class="w-full max-w-screen-sm flex flex-col p-2 overflow-y-clip md:max-w-screen-lg">
        <header class=" inline-flex flex-col justify-evenly !text-center items-center mb-4 gap-y-2 gap-x-4 flex-wrap md:w-full min-[465px]:flex-row">
            <span class="flex flex-col flex-nowrap gap-x-2 gap-y-1  items-center sm:flex-row">
                <p class="text-xl text-nowrap  font-bold text-opacity-90 border-b-2 border-negro/20 sm:border-b-0">{cargo}</p>
                <p class="hidden text-xs  text-negro/60 sm:block"> - </p>
                <p class="text-sm text-nowrap  text-opacity-35 text-negro/70 font-semibold text-ellipsis">{titulo}</p>
            </span>
            <p class="text-sm text-nowrap text-opacity-35  text-negro/90 font-semibold">{fechaInicio} - {fechaFin}</p>
        </header>
        <div class="w-full mx-1">
            <p class="text-pretty line-clamp-6 whitespace-nowrap">{descripcion}</p>
        </div>
        <Apuntes primerApunte={apunte1} otroApunte={otroApunte} segundoApunte={apunte2} client:load/>
    </div>
</a>